a {
	text-decoration: none;
	color:black;
}
li{
	list-style: none;
	display: inline;
	float: right;
	padding-right: 30px;
	padding-top: 14px;
	background-color: rgba(250,255,250,.7);
	font-size: 160%;
}
#firstbody{
	background-image: url(https://www.quic.nyc/sites/quic.nyc/themes/quic_red/images/slide-image-1.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
}	

#left{
	width: 50%;
	float: left;
}
#right{
	width: 50%;
	float left;
	clear: right;
}

#home{
	text-align:center;
	float: left;
}
#media_list{
	width: 90%;
}
#Social_at_left{
	width: 50%;
	float: left;
}
#Social_at_right{
	width: 50%;
	float: left;
	clear: right;
}
#media_container{
	text-align:center;
	width: 100%;
	clear: right;
}
#col1{
	position: relative;
	width: 50%;
	text-align:center;
	float: left;
	background-color: rgba(250,255,250,.4);

}
#col2{
	padding-bottom: 19px;
	padding-left: 5%;
	float: left;
	width: 45%;
   	background-color: rgba(250,255,250,.4);
   	height: 100%;
   	overflow: auto;
}
#outer_two{
	clear: right;
	width: 95%;
}
#main-content{
	align-content: center;
	padding-left: 40%;
}
#img1{
	width: 50% ;
	height: 300px;
	background-image: url(http://www.publicdomainpictures.net/pictures/20000/velka/male-lion-112940815797In.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
}
#img2{
	width: 50% ;
	height: 300px;
	background-size: 100%;
	background-repeat:no-repeat;
	background-image: url(http://www.publicdomainpictures.net/pictures/20000/velka/drop-of-water-27261288549217SWMr.jpg);
}
#img3{
	width: 50% ;
	height: 300px;
	background-size: 100%;
	background-repeat:no-repeat;
	background-image: url(http://www.publicdomainpictures.net/pictures/10000/velka/87-1276689971v1i2.jpg);
}
#img4{
	width: 50% ;
	height: 300px;
	background-size: 100%;
	background-repeat:no-repeat;
	background-image: url(http://www.publicdomainpictures.net/pictures/10000/velka/1-1248161543llOC.jpg);
}
#page_2_nav{
	float: left;
}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}


